html,
body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  /* touch-action: manipulation; */
}

.selectors-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.selector-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.selector-label {
  margin-right: 3px;
  font-size: 0.8rem;
  color: #333;
  font-weight: bold;
}

.custom-select {
  appearance: none;
  width: 60px;
  padding: 5px;
  border-radius: 6px;
  background-color: #f3f4f6;
  color: #333;
  border: 2px solid #4a90e2;
  font-size: 0.8rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.custom-select:hover {
  background-color: #ffffff;
  border-color: #357ABD;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.custom-select:focus {
  outline: none;
  border-color: #1C6EA4;
  box-shadow: 0 0 0 3px rgba(70, 130, 180, 0.4);
}

.custom-select::after {
  content: "▼";
  position: absolute;
  right: 10px;
  pointer-events: none;
  font-size: 1rem;
  color: #357ABD;
}

#numberOfKeysSelector {
  margin: 10px 40px 10px 10px;
}

.piano-container {
  position: relative;
  /* transform: translate(-50%, -50%); */
  /* left: 50%;
  top: 50%; */
  padding: 2em 1em 1em 1em;
  border-radius: 0.62em;
  background-color: #24272e;
}

.piano-background {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-sizing: border-box;
}


.white-key {
  /* width: 4em; */
  height: 15em;
  background-color: #ffffff;
  border-radius: 0 0 0.3em 0.3em;
  border: 0.1em solid #24272e;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 0 0 0.2em #24272e;
}


.black-key {
  height: 9em;
  border-radius: 0 0 0.3em 0.3em;
  box-sizing: border-box;
  position: absolute;
  border: 0.2em solid #24272e;
  border-top: none;
  background-color: #070a0f;
  cursor: pointer;
}

/* .highlight-key{
  background-color: #FFFF33;
}

.active {
  background-color: red;
} */

.highlight-key {
  /* background-color: #F5E1A4; */
  background-color: #fdffa5;
}
.key.root-note{
  background-color: #ffd4a5;
}
.active {
  background-color: #9af4ff
}

.active.highlight-key {
  border: 3px solid rgba(255, 165, 0, 1); /* 赤寄りのオレンジの枠線 */
  box-shadow: 0px 0px 10px rgba(255, 165, 0, 0.5); /* グロー効果 */
}


.chord-marker {
  position:relative;
  top: 80%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  transform: translateX(-50%);
  display: none; /* 初期状態は非表示 */
}

.key.chord-highlight .chord-marker {
  display: block;
}
.key.black-key .chord-marker{
  top: 70%;
}


#chord-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

#chord-buttons button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(145deg, #444, #222);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#chord-buttons button:hover {
  background: linear-gradient(145deg, #555, #333);
  transform: scale(1.05);
}

#chord-buttons button.active {
  background: linear-gradient(145deg, #ff8c00, #ff6a00);
  color: #222;
  transform: scale(1.1);
}

/* @media screen and (max-width: 1000px) {
  .piano-container {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 700px) {
  .piano-container {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 500px) {
  .piano-container {
    font-size: 0.3em;
  }
} */