html,
body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  /* touch-action: manipulation; */
}

.selector-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.selector-label {
  margin-right: 3px;
  font-size: 0.8rem;
  color: #333;
  font-weight: bold;
}

.custom-select {
  appearance: none;
  width: 60px;
  padding: 5px;
  border-radius: 6px;
  background-color: #f3f4f6;
  color: #333;
  border: 2px solid #4a90e2;
  font-size: 0.8rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.custom-select:hover {
  background-color: #ffffff;
  border-color: #357ABD;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.custom-select:focus {
  outline: none;
  border-color: #1C6EA4;
  box-shadow: 0 0 0 3px rgba(70, 130, 180, 0.4);
}

.custom-select::after {
  content: "▼";
  position: absolute;
  right: 10px;
  pointer-events: none;
  font-size: 1rem;
  color: #357ABD;
}

#numberOfKeysSelector {
  margin: 10px 40px 10px 10px;
}

.piano-container {
  position: relative;
  /* transform: translate(-50%, -50%); */
  /* left: 50%;
  top: 50%; */
  padding: 2em 1em 1em 1em;
  border-radius: 0.62em;
  background-color: #24272e;
}

.piano-background {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-sizing: border-box;
}


.white-key {
  /* width: 4em; */
  height: 15em;
  background-color: #ffffff;
  border-radius: 0 0 0.3em 0.3em;
  border: 0.1em solid #24272e;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 0 0 0.2em #24272e;
}


.black-key {
  height: 9em;
  border-radius: 0 0 0.3em 0.3em;
  box-sizing: border-box;
  position: absolute;
  border: 0.2em solid #24272e;
  border-top: none;
  background-color: #070a0f;
  cursor: pointer;
}


.active {
  background-color: red;
  /* ハイライトカラー */
}

/* @media screen and (max-width: 1000px) {
  .piano-container {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 700px) {
  .piano-container {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 500px) {
  .piano-container {
    font-size: 0.3em;
  }
} */